{% extends "base.html" %}

{% block script %}
	<script>
		
		$(document).ready(function(){
			loadTweetContainer("tweet-container");
		});
	</script>
{% endblock script %}

{% block content %}

<div class="row">
	<div class="col-sm-3 col-xs-12" style="background-color:#000;color:#28ff37">
	<h1 >
	{{ request.user }}
	</h1>
	</div>
	<div class="col-sm-9">
	{% if not request.GET.q %}
		<div class="">
			{% include "tweets/form.html" with form=create_form action_url=create_url btn_title="POST" from_id="tweet-form" %} 
			{# create post form form #}
		</div> <hr>
	{% endif %}

	<div id="tweet-container" data-url="/api/tweet/">
		{# displaying data by id with jquery #}
	</div>

	<a href="#" id='loadmore'>Click here to load more Post</a>
	{# i have to add load less here#}
	<div>
</div>
{% endblock content %}