{% extends "base.html" %}

{% block script %}
	<script>
		$(document).ready(function(){
			loadTweetData("tweet-container");
		});
	</script>
{% endblock script %}

{% block content %}
<div class="row">
	{# <div class="col-sm-3 col-xs-12 blue-color" style="background-color:#ebf9e8"> #}
	<div class="col-sm-3 col-xs-12 blue-color" style="background-color:#000;color:#28ff37">
	<h1>
	{{ object.username }}
	<hr style="border: 0;height: 0;box-shadow: 0 0 100px 10px #4a41ff;">
	</h1>
	<p>
		Followers : {{ object.followed_by.all.count }}<br>
		<p>
		{% if following %}
		<a class="btn btn-danger" href='{{ object.profile.get_follow_url }}'>	Unfollow </a>
		{% else %}
			<a class="btn btn-info" href='{{ object.profile.get_follow_url }}'>	Follow </a>
		{% endif %}
		</p>
	</p>
	 <br>
	
	<h1>Following <small>{{object.profile.get_following.count}}</small></h1>

	{% for user in object.profile.get_following %}
		<a href="/{{user.username}}">{{user.username}}</a> <br>
	{% empty %}
		<h4>No one is following you</h4>
	{% endfor %}

	<hr style="border: 0;height: 1px;background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
	
	<h1>Followers</h1>

	{% for profile in object.followed_by.all %}
		<a href="/{{profile.user.username}}">{{profile.user.username}}</a><br>
	{% empty %}
		<h4>You are not following anyone</h4>
	{% endfor %}
	</div>
	<div class="col-sm-9 col-xs-12">
	<h1>Tweets</h1>
	<div id="tweet-container" data-url="/api/{{object.username}}/tweet/">
	</div>
	<a href="#" id="loadmore">Load more tweet</a>
	{# {% for tweet in object.tweet_set.all %} #}
		{# {{tweet}} <br> #}
	{# {% endfor %} #}
		

	
	</div>
</div>	

{% endblock content %}